
.grid_8.show

  %h1= @petition.title

  %p= @petition.body

  %p
    %em= "Created by #{@petition.creator}"

  %iframe{ :src => @petition.embed("foo@bar.qux") }

  %form

    %h2 Sign this petition

    %p
      Name
      %input

      Email
      %input

      %input{ :type => 'submit', :value => 'Sign!' }

  %h2 Signers

  %ul
    - @petition.signers.each do |signer|
      %li= signer.name