
.container_12
  .grid_12

    %h1= @petition.title

    %p
      %a{ :name => "fb_share", :type => "button_count", :share_url => "http://scrive.com/petitions/#{@petition.document_id}", :href => "http://www.facebook.com/sharer.php" } Share on Facebook
      %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript" }

    %p
      %em= "Created by #{@petition.creator.name rescue "[unknown]"}"

%iframe{ :src => @petition.embed("foo@bar.qux") }

.container_12.show
  .grid_12

    %h2 Signers

    %ul
      - @petition.signers.each do |signer|
        %li= signer.name